.all-user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.serial-number{
    cursor: pointer;
}
.serial-number:hover{
    color: #740074;
    font-weight: bold;
}
.all-user-page-title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}