.my-eventform-container {
  padding: 10px;
}
.my-eventform-input {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
}
.my-eventform-input-date {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: block;
  padding: 10px;
  width: 100%;
}
.my-eventform-input:focus,
.my-eventform-input-date:focus {
  outline: none !important;
  border: 1px solid rgb(139, 139, 255);
}

.my-eventform-center-btns {
  text-align: center;
}
.my-eventform-btns {
  color: white;
  border-radius: 5px;
  width: 20%;
  height: 35px;
}
.my-eventform-btn-color {
  background-color: green;
  border: 0;
}
.eventform-label {
  color: green;
  font-weight: bolder;
}
