.user-profile-data-background {
  background-color: green;
}
.user-profile-img-container {
  background-color: green;
  height: 20vh;
  position: relative;
}
.user-profile-data-container {
  border-radius: 20% 20% 0px 0px;
  background-color: white;
  height: 70vh;
  padding-top: 80px;
}
.user-profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -75px;
  margin: auto;
}
.user-profile-name {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}
.hide-file-button {
  display: none;
}
.align-button {
  text-align: center;
}
.update-image-button {
  border: 0px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: green;
  margin: 10px;
  width: 150px;
  padding: 3px;
}
.user-edit-btn {
  background-color: green;
  color: white;
  padding: 3px;
  border-radius: 10px;
  font-weight: bold;
  width: 80px;
  border: 0;
}
.save-changes-btn {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: green;
  margin: 10px;
  width: 120px;
  padding: 3px;
}
