.show-event-title {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: green;
}
.show-event-date-data {
  color: grey;
}
.show-event-description,
.show-event-date {
  font-size: 20px;
  font-weight: bold;
}
.show-event-description-data,
.show-event-date-data {
  font-size: 18px;
}
