.user-name {
  cursor: pointer;
}
.user-name:hover {
  color: green;
  font-weight: bold;
}
.user-odd-idx-background {
  background-color: white;
}
.user-even-idx-background {
  background-color: rgb(175, 253, 175);
}
