.my-createArea-container {
    text-align: center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
    padding: 10px;
    width: 75%;
    margin: auto;
    margin-bottom: 30px;
}

.my-createNote-form {
    text-align: center;
}

.my-createNote-input {
    width: 200px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    width: 60%;
}

.my-createNote-input:focus {
    outline: none !important;
    border: 1px solid rgb(139, 139, 255);
}

.my-createNote-button {
    color: white;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 30px;
    width: 60%;
}