.user-details {
  width: 70vw;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
}
.align-upd-img-button {
  text-align: center;
}
.update-image-button {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: red;
  margin: 10px;
  width: 15%;
}
.hide-file-button {
  display: none;
}
.save-changes-btn {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: blue;
  margin: 10px;
  width: 14%;
}
.align-save-button {
  text-align: end;
}
