.user-img {
  width: 100%;
  height: 150px;
  text-align: center;
}
.user-img > img {
  border-radius: 50%;
}
.user-detail-row {
  padding: 10px;
}
.user-detail-column-1 {
  font-weight: bold;
}
.user-detail-title {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}
